<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style type="text/css">
        * {
            padding: 0;
            margin: 0;
        }


    </style>
</head>
<body>
<div id="app">
    <input type="text" v-model="a"/>{{a}}
    <div v-text="b"></div>
    <div v-html="b"></div>
    <ul>
        <!--<li v-for="(a,index) in arr">{{a}}</li>-->
        <!--<li v-for="(a,key) in obj">{{key}}:{{a}}</li>-->
        <!--<li v-for="(a,index) in str">{{index}}:{{a}}</li>-->
        <li v-for="(a,index) in num">{{index}}:{{a}}</li>
    </ul>
</div>
<script src="./../node_modules/vue/dist/vue.js"></script>
<script>
    let vm = new Vue({
        el: '#app',
        data: {//a,arr,str会被vm代理
            a:1,
            b:'<p>hello world</p>',
            arr:[1,2,3,4],
            obj:{name:'zf',age:9},
            str:'todayisWednesday',
            num:10
        },
        methods:{
            fn(){//不允许使用箭头函数,this指向当前实例
                console.log(this.a);
                console.log(e);//当没有参数时,默认的参数值为事件对象e
                console.log(this);//指向当前实例
            }
        }
    });
    //1.{{a}}进行双向数据绑定,可以运算,支持三元运算符
    //2.data中的属性不能和methods中的属性重名,否则会报错
    //3.指令:定义在dom的行间属性,以v-开头,属性值都是一个变量
    //3.1 v-model一般用于input元素 通缩Object.defineProperty实现双向数据绑定
//    let obj={};
//    Object.defineProperty(obj,"name",{
//        get(){
//        //获取boj.name时触发get方法
//            console.log(1);
////            console.log(obj.name);在get或set方法中不能使用obj.name,否则会进入死循环
//            return 19;
//        },
//        set(val){
//        //设置obj.name时触发set方法
////            console.log(2);
//            console.log(val);//后面进行设置的值会通过形参传递
//        }
//    });//异步过程,console.log(obj初始为{},打开时显示name等属性值
//    console.log(obj.name);
//    obj.name=10;
//    console.log(obj.name);//只要是获取,都会执行get
    //3.2 v-text用于div等dom元素,只识别文本,不识别标签
    //3.3 v-html用于div等dom元素,识别文本和标签
    //3.4 v-on=事件行为:方法  事件:所有的方法都在methods中定义
    //3.5 v-for  循环谁就把v-for放在谁上,可以遍历循环数组,对象,字符串和数字
</script>
</body>

