<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="./../node_modules/bootstrap/dist/css/bootstrap.css"/>
    <style type="text/css">
        * {
            padding: 0;
            margin: 0;
        }
        .del{
            text-decoration: line-through;
            color: #ccc;!important;
        }
    </style>
</head>
<body>
<div id="app">
    <!-- 1.导航条-->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    todoList
                </a>
            </div>
        </div>
    </nav>

    <!-- 2.中间-->
    <div class="container">
        <!-- col 列 md中屏 lg大屏 sm-->
        <!-- bootstrap:12列-->
        <div class="row col-md-8 col-md-offset-2">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="text-danger">你有几件事要完成</h3>
                    <input type="text" class="form-control" v-model="title" @keyup.13="add"/><!--4.输入添加-->
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item" v-for="todo in todos">
                            <span :class="{del:todo.isSelected}"><!--3.中划线-->
                                <input type="checkbox" v-model="todo.isSelected"/>
                                {{todo.title}}
                            </span>
                            <button class="pull-right btn-xs btn-danger" @click="remove(todo)">&bigotimes;</button><!--5.删除-->
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <ul class="nav nav-pills"><!--7.active-->
                        <!-- 实现单页面开发的切换:
                                通过hash记录跳转的路径
                                浏览器自带的历史管理的方法history(history.pushState()),可能导致404错误
                                开发使用hash方式,上线使用history方式
                        -->
                        <li role="presentation" :class="{active:hash=='/all'}"><a href="#/all" @click="chooseAll">全部</a></li>
                        <li role="presentation" :class="{active:hash=='/finished'}"><a href="#/finished"  @click="chooseAll">已完成</a></li>
                        <li role="presentation" :class="{active:hash=='/unfinish'}"><a href="#/unfinish"  @click="chooseAll">未完成</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="./../node_modules/vue/dist/vue.js"></script>
<script src="./todo.js"></script>
</body>

